@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@media (max-height: 800px){
    footer {position: static;}
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header{
    background: #FBFFFF;
    color: #253237;
    padding: 10px 30px;
    box-shadow: 0 5px 5px rgba(37, 50, 50, 0.15);
}
.header{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}.logo{
    float: left;
}
.menu{
    display: inline-flex;
}
.menu a{
    text-decoration: none;
    color: #253237;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 0 16px;
}
.show-menu, .hide-menu{
    font-size: 30px;
    cursor: pointer;
    transition: .5s;
    display: none;
}
.show-menu{
    float: left;
}
#check{
    position: absolute;
    visibility: hidden;
    z-index: -1000;
}
.search-bar{
    height: 32px;
    width: 240px;
    display: flex;
    background: #253237;
    border-radius: 5px;
}
.search-bar input{
    height: 100%;
    width: 208px;
    outline: none;
    border: 1px solid #253237;
    border-right: none;
    padding: 0 10px;
    color: #253237;
    font-size: 14px;
    border-radius: 5px 0 0 5px;
}
.search-button{
    height: 100%;
    width: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.search-button i{
    color: #FBFFFF;
    font-size: 18px;
}
.menu a:hover,
.show-menu:hover,
.hide-menu:hover{
    color: #5C6B73;
    transition: .7s;
}
.search-button:hover{
    background-color: #47CF73;
    transition: .7s;
}

footer{
    position: fixed;
    bottom: 0;
}
.footer{
    background: #253237;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 10px 30px;
    margin-top: 30px;
    box-shadow: 0 -5px 5px rgba(37, 50, 50, 0.15);
}
.footer-left, .footer-right{
    display: inline-block;
    vertical-align: top;
}
.footer-left{
    width: 45%;
    padding-right: 30px;
}
.about{
    color: #FBFFFF;
    font-size: 12px;
    font-family: 'Montserrat';
    text-align: justify;
}
.about span{
    display: block;
    color: #70A6C4;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    font-family: 'Josefin Sans';
}
.footer-right{
    width: 50%;
}
.footer-right i{
    color: #FBFFFF;
    font-size: 24px;
    text-align: center;
    margin: 8px 16px;
    vertical-align: middle;
}
.footer-right h1{
    display: block;
    color: #70A6C4;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Josefin Sans';
}
.footer-right p{
    display: inline-block;
    color: #FBFFFF;
    vertical-align: middle;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 16px;
}
.footer-right p span{
    display: block;
    font-size: 12px;
}
.footer-right p a{
    color: #70A6C4;
    text-decoration: none;
}
.social-media a{
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    color: #FBFFFF;
    text-align: center;
}
.social-media p{
    display: block;
    color: #70A6C4;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Josefin Sans';
}
.partners{
    display: block;
}
.partners img{
    border-radius: 100px;
    border: 3px solid #5C6B73;
}
.partners p{
    display: block;
    color: #70A6C4;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Josefin Sans';
}
hr{
    background-color: #5C6B73;
    border: none;
}
.horizontal{
    margin: 8px;
    margin-left: 0;
    width: 100%;
    display: block;
    height: 1px;
}

@media (max-width: 800px){
    .show-menu, .hide-menu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 75%;
        height: 100%;
        background: #FBFFFF;
        top: 0;
        left: -100%;
        display: inline-block;
        text-align: center;
        padding: 60px 0;
        z-index: 10;
        transition: 0.7s;
    }
    .menu li{
        padding: 20px;
    }
    .hide-menu{
        position: absolute;
        top: 10px;
        left: 30px;
    }
    #check:checked ~ .menu{
        left: 0;
    }
}
@media (max-width: 880px){
    .footer-left,.footer-right{
        display: block;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .footer-left{
        display: none;
        margin-bottom: 30px;
    }
    .about span{
        text-align: center;
    }
}
@media (max-width: 1016px){
    .logo{
        display: none;
    }
}