@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

/*#region Cabeçalho*/
header {
    position: sticky;
    background: #FBFFFF;
    width: 100%;
    padding: 10px 30px;
    top: 0;
    z-index: 999;
    box-shadow: 0 5px 5px rgba(37, 50, 50, 0.15);
}

.header {
    max-width: 1200px;
    margin: auto;
}

header .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 125px;
}

.menu {
    display: inline-flex;
}

.menu a {
    color: #253237;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 0 16px;
}

.show-menu,
.hide-menu {
    cursor: pointer;
    display: none;
}
.show-menu i,
.hide-menu i{
    font-size: 28px;
}

#check {
    position: absolute;
    visibility: hidden;
    z-index: -1000;
}

/*#region Barra de pesquisa*/
.search-bar {
    height: 32px;
    width: 240px;
    display: flex;
}

.search-bar input {
    height: 100%;
    width: 208px;
    outline: none;
    border: 1px solid #253237;
    border-right: none;
    padding-left: 10px;
    color: #253237;
    font-size: 16px;
    border-radius: 25px 0 0 25px;
}

.search-button {
    height: 100%;
    width: 32px;
    line-height: 32px;
    text-align: center;
    background: #253237;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    border: 0;
}

.search-button i {
    color: #FBFFFF;
    font-size: 18px;
}

/*#endregion */


.menu a:hover,
.show-menu:hover,
.hide-menu:hover {
    color: #5C6B73;
    transition: .7s;
}

.search-button:hover {
    background-color: #47CF73;
    transition: .7s;
}

/*#endregion */

/*#region Rodapé*/
footer {
    position: relative;
    background: #253237;
    width: 100%;
    padding: 10px 30px;
    bottom: 0;
    box-shadow: 0 -5px 5px rgba(37, 50, 50, 0.15);
}

.footer {
    max-width: 1200px;
    margin: auto;
}

footer .footer {
    display: flex;
    align-items: center;
}

.footer ft {
    display: block;
    color: #70A6C4;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.footer-left,
.footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-left {
    width: 50%;
    padding-right: 15px;
}

.footer-left p {
    color: #FBFFFF;
    font-size: 16px;
    text-align: justify;
}

.footer-right {
    width: 50%;
    padding-left: 15px;
}

.footer-right p {
    display: inline-block;
    color: #FBFFFF;
    vertical-align: middle;
    margin: 0;
    font-size: 18px;
}

.footer-right i {
    color: #FBFFFF;
    font-size: 20px;
    text-align: center;
    margin: 8px 8px;
    vertical-align: middle;
}

.footer-right span {
    display: block;
    font-size: 14px;
}

.footer-right p a {
    color: #70A6C4;
    text-decoration: none;
    font-size: 16px;
}

.partners {
    display: block;
}

.partners img {
    border-radius: 100px;
    border: 3px solid #5C6B73;
    object-fit: cover;
}

hr {
    background-color: #5C6B73;
    border: none;
}

.horizontal {
    margin: 8px 0;
    width: 100%;
    display: block;
    height: 2px;
}

/*#endregion */

main {
    position: relative;
    background: #FBFFFF;
    width: 100%;
    padding: 10px 30px;
}

.main {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

main .main {
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}

.content h1 {
    display: block;
    color: #253237;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.content p {
    margin-bottom: 8px;
}

/*#region Página Inicial*/
.news {
    width: 75%;
    position: relative;
    display: block;
}

.news img {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.news h1 {
    display: block;
    color: #253237;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.news p {
    margin-bottom: 8px;
    text-align: justify;
}

.segments {
    width: 25%;
    position: relative;
    display: flex;
    padding-left: 30px;
    float: right;
}

.index_segment {
    width: 100%;
    position: relative;
}

.index_segment img {
    width: 100%;
    filter: brightness(25%);
    height: 170px;
    object-fit: cover;
}

.index_segment h1 {
    position: absolute;
    bottom: 8px;
    text-align: left;
    margin-left: 8px;
    color: #FBFFFF;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

/*#endregion */

/*#region Página casa de Rondon*/
.rondon {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}

.rondon h1 {
    display: block;
    color: #253237;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.rondon-image-small {
    position: relative;
    width: 32.5%;
    margin: 8px 0;
    text-align: center;
}

.rondon-image-big {
    width: 100%;
    margin: 8px 0;
}

.rondon p {
    text-align: justify;
}
/*#endregion */
/*#region Página sobre autor*/
.about {
    width: 100%;
    text-align: justify;
    color: #5C6B73;
    font-size: 18px;
}

.info {
    text-align: center;
    float: right;
    margin-left: 15px;
}

.info-img {
    width: 100%;
    height: 0;
    padding-top: 135%;
    position: relative;
    margin: auto;
}

.info-img img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    vertical-align: top;
    object-fit: cover;
}

.info span {
    display: block;
    padding: 4px 0;
}

.info span i {
    margin-right: 8px;
    color: #253237;
}

/*#endregion */
/*#region Página contate-nos*/
.contact {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.form_contact {
    width: 100%;
    text-align: right;
}

.form_contact input,
.form_contact textarea {
    display: block;
    width: 100%;
    border: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    background: #E9E9E9;
    padding-left: 5px;
    outline: none;
    margin-bottom: 16px;
    line-height: 32px;
    border-radius: 5px;
}

.form_contact button {
    padding: 8px;
    color: #5C6B73;
    font-size: 18px;
    background: #A9D2E8;
    text-align: center;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

/*#endregion */

/*#region Card segmentos*/
.segment {
    position: relative;
    width: 100%;
    background: #FBFFFF;
    display: flex;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(37, 50, 55, 0.15), 0px -5px 5px rgba(37, 50, 55, 0.15);
    margin-top: 30px;
}

.segment img {
    width: 35%;
    max-height: 400px;
    margin-right: 30px;
    object-fit: cover;
}

.segment h1 {
    display: block;
    color: #253237;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.segment p {
    display: block;
    color: #5C6B73;
    font-size: 18px;
    text-align: justify;
}

.segment button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 8px;
    color: #5C6B73;
    font-size: 18px;
    background: #A9D2E8;
    text-align: center;
    border-radius: 100px;
    border: none;
}

/*#endregion */
/*#region Card eventos*/
.event {
    position: relative;
    width: 100%;
    background: #FBFFFF;
    display: flex;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(37, 50, 55, 0.15), 0px -5px 5px rgba(37, 50, 55, 0.15);
    margin-top: 30px;
}

.event img {
    width: 35%;
    max-height: 400px;
    margin-right: 30px;
    object-fit: cover;
}

.event h1 {
    display: block;
    color: #253237;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.event p {
    display: block;
    color: #5C6B73;
    font-size: 18px;
    text-align: justify;
}

.event span {
    display: block;
    text-align: left;
    font-size: 18px;
    color: #5C6B73;
    padding: 4px 0;
}

.event span i {
    margin-right: 8px;
    color: #253237;
}

/*#endregion */
/*#region Card exposições*/
.exposition {
    position: relative;
    width: 100%;
    background: #FBFFFF;
    display: flex;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(37, 50, 55, 0.15), 0px -5px 5px rgba(37, 50, 55, 0.15);
    margin-top: 30px;
}

.exposition img {
    width: 65%;
    margin-right: 30px;
    object-fit: cover;
    max-height: 500px;
}

.exposition h1 {
    display: block;
    color: #253237;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.exposition p {
    display: block;
    color: #5C6B73;
    font-size: 18px;
    text-align: justify;
}

.exposition span {
    display: block;
    text-align: left;
    font-size: 18px;
    color: #5C6B73;
    padding: 4px 0;
}

.exposition span i {
    margin-right: 8px;
    color: #253237;
}

/*#endregion */
/*#region Card crachá*/
.badge {
    position: relative;
    width: 23%;
    text-align: center;
    background-color: #FBFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15), 0px -5px 5px rgba(37, 50, 55, 0.15);
    margin-top: 30px;
    padding: 8px;
}

.badge-img {
    width: 75%;
    height: 0;
    padding-top: 75%;
    position: relative;
    margin: auto;
}

.badge-img img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    vertical-align: top;
    object-fit: cover;
    border-radius: 50%;
}

.badge h1 {
    padding: 8px 0;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.badge span {
    display: block;
    padding: 4px 0;
    text-align: left;
}

.badge span i {
    margin-right: 8px;
}

.badge button {
    padding: 8px;
    color: #5C6B73;
    font-size: 18px;
    background: #A9D2E8;
    border-radius: 100px;
    border: none;
}

/*#endregion */
/*#region Card livro*/
.book {
    position: relative;
    width: 23%;
    text-align: center;
    background-color: #FBFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15), 0px -5px 5px rgba(37, 50, 55, 0.15);
    margin-top: 30px;
    padding: 8px;
}

.book-img {
    width: 100%;
    height: 0;
    padding-top: 135%;
    position: relative;
    margin: auto;
}

.book-img img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    vertical-align: top;
    object-fit: cover;
}

.book h1 {
    padding: 8px;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.book span {
    text-align: left;
    display: block;
    padding: 4px;
}

.book span:last-child {
    text-align: center;
}

.book span i {
    margin-right: 8px;
}

/*#endregion */



@media (max-width: 1016px) {
    .logo {
        display: none;
    }

    .badge,
    .book {
        width: 30%;
    }
}

@media (max-width: 800px) {
    * {
        padding: 0;
    }

    header,
    main,
    footer {
        padding: 8px 16px;
    }

    .show-menu,
    .hide-menu {
        display: block;
    }

    .menu {
        position: fixed;
        width: 75%;
        height: 100%;
        background: #FBFFFF;
        top: 0;
        left: -100%;
        display: inline-block;
        text-align: center;
        padding: 60px 0;
        z-index: 10;
        transition: 0.7s;
    }

    .menu li {
        padding: 20px;
    }

    .hide-menu {
        position: absolute;
        top: 8px;
        left: 16px;
    }

    #check:checked~.menu {
        left: 0;
    }

    .badge,
    .book {
        width: 45%;
    }

    .rondon-image-small {
        width: 49%;
    }

    .footer-right {
        display: block;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 0;
    }

    .footer-left {
        display: none;
    }
}

@media (max-width: 600px) {

    .badge,
    .book {
        width: 100%;
    }

    .segment,
    .event,
    .exposition {
        display: block;
        text-align: center;
    }

    .segment img,
    .event img,
    .exposition img {
        width: 100%;
        margin: auto;
    }

    .segment button,
    .exposition button {
        position: relative;
        float: none;
        bottom: auto;
        right: auto;
    }

    .artist h1:first-child {
        display: none;
    }

    .info {
        float: none;
        margin: auto;
    }

    .rondon-image-small {
        width: 100%;
    }
}