@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

header {
    position: sticky;
    background: #FBFFFF;
    width: 100%;
    padding: 10px 30px;
    top: 0;
    z-index: 999;
    box-shadow: 0 5px 5px rgba(37, 50, 50, 0.15);
}

.header {
    max-width: 1200px;
    margin: auto;
}

header .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: inline-flex;
}

.menu a {
    color: #253237;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 0 16px;
}

.show-menu,
.hide-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

#check {
    position: absolute;
    visibility: hidden;
    z-index: -1000;
}

.search-bar {
    height: 32px;
    width: 240px;
    display: flex;
}

.search-bar input {
    height: 100%;
    width: 208px;
    outline: none;
    border: 1px solid #253237;
    border-right: none;
    padding: 0 10px;
    color: #253237;
    font-size: 14px;
    border-radius: 25px 0 0 25px;
}

.search-button {
    height: 100%;
    width: 32px;
    line-height: 32px;
    text-align: center;
    background: #253237;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.search-button i {
    color: #FBFFFF;
    font-size: 18px;
}

.menu a:hover,
.show-menu:hover,
.hide-menu:hover {
    color: #5C6B73;
    transition: .7s;
}

.search-button:hover {
    background-color: #47CF73;
    transition: .7s;
}

main {
    position: relative;
    background: #FBFFFF;
    width: 100%;
    padding: 10px 30px;
}

.main {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}
.titlepag{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    text-align: left;
}

<<<<<<< HEAD
.titlepag h1{
    display: block;
    color: #253237;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px;
}
content .content {
=======
main .main {
>>>>>>> e466c4416e7b333400c8997264f289e2809efdcf
    align-items: center;
}

.segment {
    position: relative;
    width: 100%;
    background: #FBFFFF;
    display: flex;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 5px 5px rgba(37, 50, 55, 0.15), 0px -5px 5px rgba(37, 50, 55, 0.15);
    
}

.segment img {
    width: 35%;
    margin-right: 30px;
}

.segment h1 {
    display: block;
    color: #253237;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.segment p {
    color: #5C6B73;
    font-size: 16px;
    text-align: justify;
}

.segment button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 8px;
    color: #5C6B73;
    font-size: 16px;
    background: #A9D2E8;
    text-align: center;
    font-size: 16px;
    border-radius: 100px;
    border: none;
}

 .conteudo {
    position: relative;
    width: 100%;
    background: #FBFFFF;
    display: flex;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 5px 5px rgba(37, 50, 55, 0.15), 0px -5px 5px rgba(37, 50, 55, 0.15);
}

.conteudo img {
    width: 45%;
    margin-right: 30px;
}

.conteudo h1 {
    display: block;
    color: #253237;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.conteudo p {
    color: #5C6B73;
    font-size: 16px;
    text-align: justify;
}

.conteudo button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 8px;
    color: #5C6B73;
    font-size: 16px;
    background: #A9D2E8;
    text-align: center;
    font-size: 16px;
    border-radius: 100px;
    border: none;
}

.badge {
    position: relative;
    width: 22.5%;
    text-align: center;
    background-color: #FBFFFF;
    box-shadow: 0px 5px 5px rgba(37, 50, 55, 0.15), 0px -5px 5px rgba(37, 50, 55, 0.15);
    margin-top: 30px;
    padding: 8px;
}

.badge img {
    border-radius: 1000px;
    width: 212px;
    height: 212px;
}

.badge h1 {
    padding: 8px 0;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.badge span {
    display: block;
    padding: 4px 0;
    text-align: left;
}

.badge span i {
    margin-right: 8px;
}

.badge button {
    padding: 8px;
    color: #5C6B73;
    font-size: 16px;
    background: #A9D2E8;
    font-size: 16px;
    border-radius: 100px;
    border: none;
}

.book {
    position: relative;
    width: 22.5%;
    text-align: center;
    background-color: #FBFFFF;
    box-shadow: 0px 5px 5px rgba(37, 50, 55, 0.15), 0px -5px 5px rgba(37, 50, 55, 0.15);
    margin-top: 30px;
    padding: 8px;
}

.book img {
    width: 262px;
    height: 350px;
}

.book h1 {
    padding: 8px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.book span {
    text-align: left;
    display: block;
    padding: 4px;
}

.book span:last-child {
    text-align: center;
}

.book span i {
    margin-right: 8px;
}

.content h1 {
    display: block;
    color: #253237;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.content p {
    margin-bottom: 8px;
}

.about {
    width: 100%;
    text-align: justify;
    color: #5C6B73;
    font-size: 16px;
}

.info {
    text-align: center;
    float: right;
    margin-left: 15px;
}

.info img {
    max-width: 278px;
    max-height: 400px;
}

.info span {
    display: block;
    padding: 4px 0;
}

.info span i {
    margin-right: 8px;
    color: #253237;
}

.event {
    position: relative;
    width: 100%;
    background: #FBFFFF;
    display: flex;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(37, 50, 55, 0.15), 0px -5px 5px rgba(37, 50, 55, 0.15);
    margin-top: 30px;
}

.event img {
    width: 35%;
    margin-right: 30px;
}

.event h1 {
    display: block;
    color: #253237;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.event p {
    color: #5C6B73;
    font-size: 16px;
    text-align: justify;
}

.event span {
    display: block;
    text-align: left;
    font-size: 16px;
    color: #5C6B73;
    padding: 4px 0;
}

.event span i {
    margin-right: 8px;
    color: #253237;
}

footer {
    position: relative;
    background: #253237;
    width: 100%;
    padding: 10px 30px;
    bottom: 0;
    margin-top: 30px;
    box-shadow: 0 -5px 5px rgba(37, 50, 50, 0.15);
}

.footer {
    max-width: 1200px;
    margin: auto;
}

footer .footer {
    display: flex;
    align-items: center;
}

.footer ft {
    display: block;
    color: #70A6C4;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.footer-left,
.footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-left {
    width: 50%;
    padding-right: 15px;
}

.footer-left p {
    color: #FBFFFF;
    font-size: 14px;
    text-align: justify;
}

.footer-right {
    width: 50%;
    padding-left: 15px;
}

.footer-right p {
    display: inline-block;
    color: #FBFFFF;
    vertical-align: middle;
    margin: 0;
    font-size: 16px;
}

.footer-right i {
    color: #FBFFFF;
    font-size: 20px;
    text-align: center;
    margin: 8px 8px;
    vertical-align: middle;
}

.footer-right span {
    display: block;
    font-size: 12px;
}

.footer-right p a {
    color: #70A6C4;
    text-decoration: none;
}

.partners {
    display: block;
}

.partners img {
    border-radius: 100px;
    border: 3px solid #5C6B73;
}

hr {
    background-color: #5C6B73;
    border: none;
}

.horizontal {
    margin: 8px 0;
    width: 100%;
    display: block;
    height: 2px;
}

@media (max-width: 1016px) {
    .logo {
        display: none;
    }

    .badge,
    .book {
        width: 30%;
    }
}

@media (max-width: 800px) {

    header,
    content,
    footer {
        padding: 8px 16px;
    }

    .show-menu,
    .hide-menu {
        display: block;
    }

    .menu {
        position: fixed;
        width: 75%;
        height: 100%;
        background: #FBFFFF;
        top: 0;
        left: -100%;
        display: inline-block;
        text-align: center;
        padding: 60px 0;
        z-index: 10;
        transition: 0.7s;
    }

    .menu li {
        padding: 20px;
    }

    .hide-menu {
        position: absolute;
        top: 8px;
        left: 16px;
    }

    .content {
        padding: 0 8px;
    }

    #check:checked~.menu {
        left: 0;
    }

    .badge,
    .book {
        width: 45%;
    }

    .footer-right {
        display: block;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 0;
    }

    .footer-left {
        display: none;
    }
}

@media (max-width: 600px) {

    header,
    content,
    footer {
        padding: 8px;
    }

    .badge,
    .book {
        width: 100%;
    }

    .segment,
    .event {
        display: block;
        text-align: center;
    }

    .segment img,
    .event img {
        width: 90%;
        margin: auto;
    }

    .segment button {
        position: relative;
        float: none;
        bottom: auto;
        right: auto;
    }

    .artist h1:first-child {
        display: none;
    }

    .info {
        float: none;
        margin: auto;
    }
}